name: Call PyPI publish workflow
on:
  release:
    types: [published]
jobs:
  call-pypi-publish:
    uses: ghga-de/gh-action-pypi/.github/workflows/pypi_publish.yml@v2.0.0
    with:
      package_version: 2.0.1
      test_pypi: "false"
      python_latest: true
    secrets: inherit
